<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>
  <springProperty name="serviceName" source="spring.application.name"/>
  <springProperty name="logstashHost" source="logstash.host"/>
  <springProperty name="logstashPort" source="logstash.port" defaultValue="5001"/>
  <springProperty name="environmentName" source="env.name" defaultValue="dev"/>
  <springProperty name="javaRuntimeName" source="java.runtime.name"/>
  <springProperty name="javaRuntimeVersion" source="java.runtime.version"/>
  <springProfile name="logstash">
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashUdpSocketAppender">
      <host>${logstashHost}</host>
      <port>${logstashPort}</port>
      <layout class="net.logstash.logback.layout.LogstashLayout">
        <customFields>
          {
            "instance_id":"${HOSTNAME}",
            "service_name":"${serviceName}",
            "env_name": "${environmentName}",
            "system": "kb",
            "runtime": "${javaRuntimeName}",
            "runtime_version": "${javaRuntimeVersion}"
          }
        </customFields>
      </layout>
    </appender>
    <root level="INFO">
      <appender-ref ref="LOGSTASH"/>
    </root>
    <logger name="com.project" level="INFO">
      <appender-ref ref="LOGSTASH"/>
    </logger>
  </springProfile>
</configuration>